#sectio1 {
    background-image: url("../img/nature.jpg");
    color: white;
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 25px;
}
nav {
    text-align: right;
    word-spacing: 20pt;
    padding-top: 30px;
}
header {
    display: flex;
    justify-content: space-between;

}
nav a {
    color: black;
    text-decoration-line: none;
}
.animal {
    border: 0.5px solid black;
    width: 300px;
    margin: 10px;
    display: flex;

}
.animal h3,h4,p {
    padding-left: 10px;
    padding-right: 10px;
}
.animal img {
    width: 100%;
    height: 40%;
}
.separacion {
    width: 50%;
    float: left;

}
.animal a{
    color: black;
    text-decoration: none;
}

#biblo {
    background: gainsboro;
    padding-bottom: 100px;
    padding-top: 100px;
}
footer {
    background: black;
    color: white;
}
footer a {
    color: white;
}
#point {
    list-style: none;
}
@media (max-width: 700px) {
    #animals {
        display: flex;
        flex-direction: column;
    }
    .animal {
        margin-left: auto;
        margin-right: auto;
    }
    h2,.group {
        text-align: center;
    }
    #point {
        text-align: center;
    }
}
@media (min-width: 300px) and (min-width: 701px) {
    #animals {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}